<div class="login-container">
  <div class="login-content-wrapper">

    <div class="left-panel">
      <div class="branding">
        <h1 class="system-title">Intern Task Management</h1>
        <p class="system-subtitle">Welcome back! Please login to your account.</p>
      </div>
      <img src="pageLogin.jpg" alt="login graphic" class="login-image">
    </div>

    <div class="right-panel">
      <h2 class="login-title">Log in</h2>
      
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">

        <mat-form-field appearance="outline" class="full-width field-spacing">
          <mat-label>Email</mat-label>
          <input matInput type="email" id="email" formControlName="email" placeholder="mail@example.com">
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Please enter your email address.</mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">The email format is incorrect.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width field-spacing">
          <mat-label>Password</mat-label>
          <input matInput type="password" id="password" formControlName="password" placeholder="Enter your password">
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Please enter the password.</mat-error>
        </mat-form-field>

        <div class="form-options">
          <mat-checkbox color="primary">Remember me</mat-checkbox>
          <!-- <a href="#" class="forgot-password">Forgot Password?</a> -->
        </div>

        <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid" class="btn-login full-width">
          Log in
        </button>

      </form>
    </div>

  </div>
</div>