.sidebar {
  width: 260px;
  min-height: 100vh;
  background: #ffffff;
  color: #1e293b;
  padding: 25px;
}

.sidebar h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar li:hover {
  background: #f1f5f9;
}

.sidebar li:active {
  background: #e2e8f0;
}

.sidebar li.active-menu {
  background: #e2e8f0;
  font-weight: bold;
}